{% extends "base.html" %}

{% block title %}Ordinateurs{% endblock %}

{% block content %}
<section class="cards-row small">
    <!-- ✅ Cartes alignées à gauche -->
  <div class="cards small">
    <div class="card blue bi bi-pc-display">
      <a href="{% url 'bureau' %}">Bureaux</a>
    </div>
    <div class="card green bi bi-laptop">
      <a href="{% url 'portable' %}">Portables</a>
    </div>
  </div> 
</section>

<section class="cards">
  <div class="card blue">Total Bureaux<br><span>{{ bureaux|length }}</span></div>
  <div class="card green">Total Portables<br><span>{{ portables|length }}</span></div>
</section>

<h2 style="text-align: center">💻 🖥️ Ordinateurs</h2>

<section class="cards-row">
 

  <!-- ✅ Barre de recherche alignée à droite -->
  <input type="text" id="searchPortable" placeholder="🔍 Rechercher..." class="search-input">
</section>


<div class="table-wrapper">
  <table id="portableTable">
    <thead>
      <tr class="small">
       <th>Type</th><th>Modèle</th><th>N° Série</th><th>Utilisateur</th><th>Statut</th><th>Date Achat</th><th>Garantie</th><th>Durée de Vie</th>
    </tr>
    </thead>
   <tbody>
    {% for pc in pcs %}
    <tr class="small">
      <td style="text-align: center;"class="small">{{ pc.type }}</td>
      <td style="text-align: center;"class="small">{{ pc.modele }}</td>
      <td style="text-align: center;"class="small">{{ pc.numero }}</td>
      <td style="text-align: center;"class="small">{{ pc.utilisateur }}</td>
      <td style="text-align: center;"class="small">
            {% if pc.statut == "Actif" %}
              <span class="badge bg-success">Actif</span>
            {% elif pc.statut == "Disponible" %}
              <span class="badge bg-info">Disponible</span>
            {% elif pc.statut == "En maintenance" %}
              <span class="badge bg-danger">En maintenance</span>
            {% else %}
              <span class="badge bg-secondary">{{ pc.statut }}</span>
            {% endif %}
      </td>
      <td style="text-align: center;" class="small">{{ pc.date_achat }}</td>
      <td style="text-align: center;"class="small">{{ pc.garantie }}</td>
      <td style="text-align: center;"class="small">{{ pc.duree_vie }}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}
